<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="config/db.properties"/>

  <settings>
  	<setting name="jdbcTypeForNull" value="NULL" />
  	<setting name="defaultFetchSize" value="100" />
  	<setting name="cacheEnabled" value="true" />
	<setting name="mapUnderscoreToCamelCase" value="true" />
  </settings>

  <typeAliases>
    <package name="com.example.demo" /> 
  </typeAliases>

<!--
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
-->

  <!-- sqlSession 설정 -->
  <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="doDataSource"/>
        <property name="configLocation" value="/conf/spring/doSqlMapConfig.xml" />
        <property name="mapperLocations" value="/sql/batch/sql-*.xml" />
 </bean>

  <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg index="0" ref="sqlSessionFactory" />
      <constructor-arg index="1" value="BATCH" />
  </bean>
<!--
  <mappers>
    <mapper resource="sql/batch/sql-EmpList.xml"/>
  </mappers>
-->
</configuration>